# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
